<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body { background-color: #0a1930; padding: 30px; font-family: Arial,
      Helvetica, sans-serif; } .container { background-color: #eee; padding:
      10px; border-radius: 3px; } .color-primary { color: #78B08A; }
      .color-danger { color: #D8B436; } .color-success { color: #A3E0B6; }
      .color-white { color: #fff; } .color-blue { color: #0a1930; } a {
      font-size: 1.4rem; text-decoration: none; } .btn { font-size: 1.4rem;
      font-weight: 400; padding: 6px 8px; margin: 0 5px 0 0; border: 1px solid
      transparent; border-radius: 3px; cursor: pointer; } .btn-primary { color:
      #fff; background: #78B08A; } .btn-secondary { color: #fff; border: 1px
      solid #fff; background: transparent; } .btn-danger { color: #fff;
      background: #D8B436; } .btn-success { color: #fff; background: #A3E0B6; }
      .flex-center { display: flex; justify-content: center; align-items:
      center; } .logo { padding: 5px; background-color: #78B08A; } .my { margin:
      2rem 0; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo flex-center">
        <h2 class="color-white">Autenticaci칩n: Fundaci칩n Sinergias</h2>
      </div>
      <h2>Hola <span class="color-danger">{{name}}</span></h2>
      <p>Por favor usa el siguiente enlace para verificar tu cuenta.</p>
      <p>Este link es v치lido por 1 hora.</p>

      <a href={{link}} class="btn btn-success">Verificar Cuenta</a>

      <div class="my">
        <p><b class="color-danger">El equipo de </b> Fundaci칩n Sinergias</p>
      </div>
    </div>
  </body>
</html>